.display-1{
    text-align: center;
}


#card1{
    background: #8ca7da;
}

#card2{
    background: #8bdcfc;
}

#card3{
    background: #53d0f3;
}

.foodpics{
    height: 240px;
    width: 340px;
}

.description{
    text-align: center;
}